<?xml version="1.0" encoding="UTF-8"?>
<plugin>

    <!-- Main plugin class -->
    <class>org.jivesoftware.openfire.plugin.AliContentFilterPlugin</class>
    
    <!-- Plugin meta-data -->
    <name>ALI Content Filter</name>
    <description>Scans message packets for defined patterns</description>
    <author>Terry</author>
    <version>0.0.3</version>
    <date>07/23/2019</date>
    <minServerVersion>0.0.1</minServerVersion>
    

    
</plugin>
